img {
  max-width: 150px;
}

body {
  margin: 0 auto;
  background-color: rgb(247, 236, 221);

  font-size: 20px;
}
section {
  padding: 50px;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 950px;
  background-color: white;
  border-radius: 50px;
}

section h1 {
  text-align: center;
  font-size: 30px;
}
strong {
  font-size: 20px;
  color: rgb(95, 86, 216);
}
section h2 {
  font-size: 22px;
  margin-bottom: -10px;
}
a {
  text-decoration: none;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  margin-left: 10px;
  background-color: darkblue;
  color: white;
  border-radius: 15px;
}
a:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.button {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 640px) {
  section {
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 950px;
    background-color: white;
    border-radius: 50px;
    margin: 15px;
    margin-top: 25px;
  }

  section h1 {
    text-align: center;
    font-size: 25px;
  }
  strong {
    font-size: 16px;
    color: rgb(95, 86, 216);
  }
  section h2 {
    font-size: 22px;
    margin-bottom: -10px;
  }
  a {
    text-decoration: none;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-left: 5px;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
  }
  a:hover {
    opacity: 0.7;
    transition: 0.5s;
  }
  .button {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }
  img {
    max-width: 125px;
    text-align: center;
  }
  p {
    line-height: 25px;
    font-size: 16px;
  }
  div {
    text-align: center;
    margin-bottom: 50px;
  }
}
